/node_modules
/public/hot
/public/storage
/public/images/*
/public/daylaser/*
/storage/*.key
/vendor
/public/daylaser/*
/public/AdminLTE/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
